{% use 'shared/_embedded/_pager_fields.html.twig' %}

{% set viewData = execute(column.callBack, [entity, options]) %}
<td>
    {{ component('data_table_field_render', {
        viewData: viewData
    }) }}
{#    {% if viewData is instanceof('App\\Model\\Pager\\Field\\FieldInterface') %}#}
{#        {{ block(viewData.type.value) }}#}
{#    {% else %}#}
{#        {{ viewData|raw }}#}
{#    {% endif %}#}
</td>