{% extends 'work/show.html.twig' %}

{% block content_inner %}
    <div class="card">
        <div class="card-header text-end">
            <a href="{{ path('app_work_adaptation_add', {'work': work.id}) }}" class="btn btn-sm btn-success">
                {% trans from 'work' %}Add distribution cost{% endtrans %}
            </a>
        </div>
        <div class="card-body">
            {% component data_table with {
                pagerResponse: pagerResponse
            } %}
            {% endcomponent %}
        </div>
    </div>
{% endblock %}