{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <h1 class="card-title text-center">Beneficiary: {{ beneficiary.name }}</h1>
    </div>
    <hr class="my-0">
    <div class="card-body">
        {% include 'company/contract/_embedded/_list.html.twig' with {
            contracts: beneficiary.contracts
        } %}
        <br><br><br><br>
        <a class="btn btn-primary" href="{{ path('app_beneficiary_index') }}">List</a>
    </div>
</div>
{% endblock %}
