{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    <div class="card card-header text-center">
        <!-- Tittle -->
        <h1>{% trans from 'dashboard' %}Welcome to Rights Flow{% endtrans %}</h1>
    </div>
{% endblock %}
