{% extends 'shared/layout/base.html.twig' %}

{% block css_global %}
    {{ parent() }}
    {{ encore_entry_link_tags('assets/css/app') }}
    {{ encore_entry_link_tags('assets/css/demo') }}
{% endblock %}

{% block html_class('light-style layout-navbar-fixed layout-menu-fixed') %}

{% block body %}
    <div class="container-xxl">
        <div class="authentification-wrapper authentification-basic container-p-y">
            <div class="authentification-inner py-4">
                {# { include('shared/layout/_embedded/_authentification/_card_authentification.html.twig') }#}
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}