{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title text-center">You will change your password !</h2>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="col-12 mt-1">
                <button class="btn btn-warning" type="submit">Save changes</button>
                <button class="btn btn-warning" type="button" onclick="history.go(-1);">Cancel</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

