{% extends 'shared/layout/base.html.twig' %}

{% block body %}

    {% if success %}
        <div class="alert alert-success">
            {% trans from 'security' %}Password changed{% endtrans %}
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_rest(form) }}

    <button class="btn btn-warning" type="submit">
        Save
    </button>
    {{ form_end(form) }}
{% endblock %}

