{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    You will change your password !
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="col-12 mt-1">
                <button class="btn btn-sm btn-warning" type="submit">Save changes</button>
                <button class="btn btn-sm btn-warning" type="button" onclick="history.go(-1);">Cancel</button>
            </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}

