<!-- Footer -->
<footer class="content-footer footer bg-footer-theme fixed-bottom text-center d-flex align-items-center">
    <div class="container-fluid py-2">
        <div class="mx-auto">
            2023 © Haussmann-Medias | GCC-Med
        </div>
    </div>
</footer>
<!-- / Footer -->
