<div class="layout-page">
    <!-- Nav -->
    <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
        <div class="container-fluid">
            {{ include('shared/layout/_embedded/_navbar/_search.html.twig') }} <!-- search-->
            <ul class="navbar-nav flex-row align-items-center ms-auto">
                {{ include('shared/layout/_embedded/_navbar/_language.html.twig') }} <!-- language-->
                {{ include('shared/layout/_embedded/_navbar/_user.html.twig') }} <!-- user-->
            </ul>
        </div>
    </nav>
    <!--/ Nav -->
</div>