<header id="page-header">
    <div class="content-header">
        <div class="d-flex align-items-center">
            <!-- Toggle Sidebar -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout()-->
            <button type="button" class="btn btn-sm btn-alt-secondary me-2 d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                <i class="fa fa-fw fa-bars"></i>
            </button>
            <!-- END Toggle Sidebar -->

            <!-- Open Search Section (visible on smaller screens) -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button type="button" class="btn btn-sm btn-alt-secondary d-md-none" data-toggle="layout" data-action="header_search_on">
                <i class="fa fa-fw fa-search"></i>
            </button>
            <!-- END Open Search Section -->

            <!-- Search Form (visible on larger screens) -->
            {{ include('shared/layout/_embedded/_navbar/_search.html.twig') }}
            <!-- END Search Form -->
        </div>
        <!-- END Left Section -->

        {% if SHOW_ALERT %}
            <h6 class="alert text-bg-danger d-flex align-items-center justify-content-center text-uppercase fw-bold">
                <i class="fas fa-exclamation-triangle fa-2x me-3"></i> {% trans from 'misc' %}Be careful, you are on a TEST environment{% endtrans %}
            </h6>
        {% endif %}

        <!-- Right Section -->
        <div class="d-flex align-items-center">
            {{ include('shared/layout/_embedded/_navbar/_user.html.twig') }}
        </div>
        <!-- END Right Section -->
    </div>
    {{ include('shared/layout/_embedded/_navbar/_search-small-screens.html.twig') }}
    <!-- END Header Content -->
</header>