<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo d-flex justify-content-center align-items-center" style="height: 120px; overflow: hidden;">
        <a href="{{ path('app_dashboard') }}" class="app-brand-link text-center">
            <img src="{{ asset('build/images/_logo/rights_flow_black_orange.svg') }}" alt="Rights Flow Logo" class="app-brand-logo demo" style="width: 200px; height: auto; max-width: 100%; max-height: 100%; object-fit: contain;">
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
            <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
        </a>
    </div>

    <ul class="menu-inner py-1 ps">
        <!-- Choose Company-->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Choose your company</span></li>
        <li class="menu-item">
            <select class="form-control menu-link menu-toggle">
                <option>Haussmann Medias</option>
                <option>Chrome Film</option>
            </select>
        </li>
        <!-- Dashboard -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Dashboard</span></li>
        <li class="menu-item active">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-item"></i>
                <div data-i18n="dashboard">Dashboard</div>
            </a>
        </li>
        <!-- Managing my business -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Managing my business</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-item"></i>
                <div data-i18n="artwork">Artwork</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-item"></i>
                <div data-i18n="contract">Contract</div>
            </a>
        </li>
    </ul>
</aside>