<div {{ attributes }} class="position-relative">
    <input
            type="text"
            data-model="debounce(500)|query"
            placeholder="Search an artwork, contract, beneficiary ..."
            class="form-control"
    >

    {% if this.results|length > 0 %}
        <div data-loading="addClass(opacity-50)" class="mt-3 row position-absolute">
            {% for category,result in this.results %}
                <div class="card tt-menu">
                    <div class="card-header tt-dataset tt-dataset-pages">
                        <h6 class="card-title">
                            {{ category }}
                        </h6>
                    </div>
                    <div class="card-body tt-dataset tt-dataset-files">
                        {% for text in result %}
                            {{ text }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if this.results|length == 0 and query is not empty %}
        <div class="pt-3 ml-2 text-nowrap mx-auto">Oh! No result found matching "{{ query }}"</div>
    {% endif %}
</div>
