<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>{% trans from 'contract' %}Name{% endtrans %}</th>
            <th>{% trans from 'contract' %}Distributor{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for contractWork in contractWorks %}
            {% set contract = contractWork.distributionContract %}
            <tr>
                <td>
                    <a href="{{ path('app_distribution_contract_show', {'id': contract.id}) }}">
                        {{ contract.name }}
                    </a>
                </td>
                <td><a href="{{ path('app_company_show', {'id': contract.distributor.id}) }}">{{ contract.distributor.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>