{% extends 'shared/layout/base.html.twig' %}

{% block body %}
    {% component card %}
        {% block header_content %}
            <h1>List of works</h1>
        {% endblock %}
        {% block body_content %}
            {% include 'work/_embedded/_list.html.twig' with {
                works: works,
            } %}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
