<!-- Language -->
<li class="nav-item dropdown-language dropdown me-2 me-xl-0 py-1 px-1 border">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <i class="fas fa-flag-usa fa-3x me-1"></i>
        <span>Language</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item selected" href="javascript:void(0);" data-language="en">
                <i class="fas fa-flag-usa fa-4x me-1"></i>
                <span class="align-middle">English</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="fr">
                <i class="fas fa-flag-france fa-4x me-1"></i>
                <span class="align-middle">French</span>
            </a>
        </li>
    </ul>
</li>
<!--/ Language -->
