<div id="page-header-search" class="overlay-header bg-body-extra-light">
    <div class="content-header">
        <div class="w-100">
            <div class="input-group">
                <button type="button" class="btn btn-alt-secondary" data-toggle="layout" data-action="header_search_off">
                    <i class="fa fa-fw fa-times-circle"></i>
                </button>
                {{ component('layout_search_bar') }}
            </div>
        </div>
    </div>
</div>
