<!-- Barre de recherche -->
<div class="navbar-nav align-items-center">
    <div class="input-group mb-0 rounded py-1 px-1" style="width: 350px;">
        <input type="text" class="form-control" placeholder="Search an artwork, contract, beneficiary..." aria-label="Search">
    </div>
</div>
<!-- /Barre de recherche -->