<!-- Search -->
<div class="navbar-nav align-items-center">
    <div class="nav-item navbar-search-wrapper mb-0 rounded py-1 px-1 border" style="width: 500px;">
        <a class="nav-item nav-link search-toggler px-0" href="javascript:void(0);">
            <i class="bx bx-search-alt bx-lg"></i>
            <span class="d-none d-md-inline-block text-muted fs-5">Search an artwork, contract ...</span>
        </a>
    </div>
</div>
<!-- /Search -->
