<!-- Barre de recherche -->
<div class="navbar-nav align-items-center">
    <div class="input-group mb-0 rounded py-1 px-1" style="width: 350px;">
        {{ component('layout_search_bar') }}
    </div>
</div>
<!-- /Barre de recherche -->