<div class="card card-body">
    <div class="table-responsive">
        <table id="work-territories-table" class="table">
            <thead>
            <tr>
                <th>{% trans from 'setting' %}Territory{% endtrans %}</th>
                <th>{% trans from 'setting' %}Channels{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for workTerritory in workTerritories %}
                <tr>
                    <td>{{ workTerritory.territory.name }}</td>
                    <td>{{ workTerritory.broadcastChannels|map(channel => channel.name)|join(', ') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
