<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>{% trans from 'work' %}Territory{% endtrans %}</th>
            <th>Channels</th>
        </tr>
        </thead>
        <tbody>
        {% for workTerritory in workTerritories %}
            <tr>
                <td>{{ workTerritory.territory.name }}</td>
                <td>{{ workTerritory.broadcastChannels|map(channel => channel.name)|join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>