{% extends 'shared/layout/layout_authentication.html.twig' %}

{% block content_title %}
    Reset password
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_login') }}" class="btn-block-option">{% trans from 'security' %}Back to authentication{% endtrans %}</a>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <p class="fw-medium text-muted">Please enter the email address used to receive a password reset link.</p>
    {{ form_rest(form) }}
    <div class="justify-content-between">
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary">Envoyer la demande</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
