{% extends 'shared/layout/base.html.twig' %}

{% block body %}
    <div class="page-authentication__form">
        <div class="row justify-content-center page-authentication__text">
            <p>
                Un e-mail a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.
            </p>
            <p>
                Remarque : Vous ne pouvez demander un nouveau mot de passe que toutes les {{ tokenLifetime }} minutes.
            </p>
            <p>
                Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.
            </p>
        </div>
        <div class="row justify-content-center">
            <a href="{{ path('app_login') }}" class="btn btn-sm btn-link">{% trans from 'security' %}Back to authentication{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
