{% extends 'shared/layout/layout_authentication.html.twig' %}

{% block content_title %}
    Informations
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_login') }}" class="btn btn-sm btn-link">{% trans from 'security' %}Back to authentication{% endtrans %}</a>
{% endblock %}
{% block content %}
        <p class="fw-medium text-muted">An email has been sent. It contains a link that you will need to click to reset your password.</p>
        <p class="fw-medium text-muted">Note: You can only request a new password every {{ tokenLifetime }} minutes.</p>
        <p class="fw-medium text-muted">If you don't receive an email, check your spam folder or try again.</p>
{% endblock %}
