{% extends 'shared/layout/layout_authentication.html.twig' %}

{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <div class="row justify-content-center page-authentication__text text-center">
            <span>An email has been sent. It contains a link that you will need to click to reset your password.</span>
            <span>Note: You can only request a new password every {{ tokenLifetime }} minutes.</span>
            <span>If you don't receive an email, check your spam folder or try again.</span>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <a href="{{ path('app_login') }}" class="btn btn-sm btn-link">{% trans from 'security' %}Back to authentication{% endtrans %}</a>
</div>
{% endblock %}
