{% extends 'shared/layout/base.html.twig' %}

{% block body %}
    <div class="page-authentication__form">
        <p>
            Veuillez saisir l'adresse email utilisée pour recevoir un lien de réinitialisation de mot de passe.
        </p>

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary btn-block">Envoyer la demande</button>
        </div>
        <div class="row justify-content-center mt-3">
            <a href="{{ path('app_login') }}" class="btn btn-sm btn-link">{% trans from 'security' %}Back to authentication{% endtrans %}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
