{% extends 'shared/layout/layout_authentication.html.twig' %}

{% block content_title %}
    {% trans from 'security' %}Reset password{% endtrans %}
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_login') }}" class="btn-block-option">{% trans from 'security' %}Back to authentication{% endtrans %}</a>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="justify-content-between">
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-warning">{% trans from 'misc' %}Save{% endtrans %}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
