{% extends 'shared/layout/base.html.twig' %}

{% block body %}
    <div class="page-authentication__form">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="d-grid mt-5">
            <button type="submit" class="btn btn-primary btn-block">Changer votre mot de passe</button>
        </div>
        <div class="row justify-content-center mt-3">
            <a href="{{ path('app_login') }}" class="btn btn-sm btn-link">{% trans from 'security' %}Back to authentication{% endtrans %}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
