{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {% trans from 'contract' %}List of distribution contracts{% endtrans %}
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_company_distribution_contract_add', {'company': company.id}) }}" class="btn btn-sm btn-success">{% trans from 'contract' %}Add distribution contract{% endtrans %}</a>
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            {% include 'distribution_contract/_embedded/_list.html.twig' with {
                contracts: contracts,
            } %}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
