{% extends 'shared/layout/layout_base.html.twig' %}

{% block content %}
    {% component card %}
        {% block header_content %}
            <h1 class="card-title text-center">{% trans from 'contract' %}List of distribution contracts{% endtrans %}</h1>
        {% endblock %}
        {% block body_content %}
            <a href="{{ path('app_company_distribution_contract_add', {'company': company.id}) }}" class="btn btn-success">{% trans from 'contract' %}Add distribution contract{% endtrans %}</a>

            {% include 'distribution_contract/_embedded/_list.html.twig' with {
                contracts: contracts,
            } %}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
