<div class="card-body">
    <!-- Logo -->
    {{ include('shared/layout/_embedded/_logo/_logo_rigthsflow.html.twig') }}
    <h4 class="mb-2">Welcome to Rights Flow !</h4>
    <p class="mb-4">Please to sign-in to your account and start your work</p>
    {{ include('shared/layout/_embedded/_authentification/_form_authentification.html.twig') }}
</div>