<form id="formAuthentification" class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework" action="index.html" method="post" novalidate="novalidate">
    <!-- Email -->
    <div class="mb-3 fv-plugins-icon-container">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>
    <!-- Button -->
    <div class="mb-3">
        <button class="btn btn-primary d-grid w-100" type="submit">Send Reset Link</button>
    </div>
</form>