<form id="formAuthentification" class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework" action="index.html" method="post" novalidate="novalidate">
    <!-- Email -->
    <div class="mb-3 fv-plugins-icon-container">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>
    <!-- Password -->
    <div class="mb-3 form-password-toggle fv-plugins-icon-container">
        <div class="d-flex justify-content-between">
            <label for="password" class="form-label">Password</label>
            <a href="../../layout_forgot_password.html.twig"></a>
        </div>
        <div class="input-group input-group-merge has-validation">
            <input type="password" class="form-control" id="email" name="password" placeholder="Enter your password">
            <span class="input-group-text cursor-pointer">
                    <i class="bx bx-hide"></i>
                </span>
        </div>
        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>
    <!-- Remember me -->
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="remember-me">
        <input class="form-check-text" for="remember-me">Remember Me</input>
    </div>
    <!-- Button -->
    <div class="mb-3">
        <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
    </div>
</form>