{% extends 'shared/layout/base.html.twig' %}

{% block body %}
    <h1>List of companies</h1>

    <a href="{{ path('app_company_add') }}" class="btn btn-success">New</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>User count</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td><a href="{{ path('app_company_show', {'id': company.id}) }}">{{ company.name }}</a></td>
                    <td>{{ company.users|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
