{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {% trans from 'company' %}List of companies{% endtrans %}
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_company_add') }}" class="btn btn-sm btn-success">{% trans from 'company' %}Add company{% endtrans %}</a>
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans from 'company' %}Name{% endtrans %}</th>
                        <th>{% trans from 'company' %}User count{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in companies %}
                        <tr>
                            <td><a href="{{ path('app_company_show', {'id': company.id}) }}">{{ company.name }}</a></td>
                            <td>{{ company.users|length }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
