{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {% trans from 'contract' %}List of acquisition contracts{% endtrans %}
{% endblock %}
{% block content_action %}
    <a href="{{ path('app_acquisition_contract_add') }}" class="btn btn-sm btn-success">
        {% trans from 'contract' %}Add acquisition contract{% endtrans %}
    </a>
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            {% include 'acquisition_contract/_embedded/_list.html.twig' with {
                contracts: contracts,
            } %}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
