{% extends 'shared/layout/layout_base.html.twig' %}

{% set isCompanyAdmin = is_granted(constant('App\\Security\\Voter\\CompanyVoter::COMPANY_ADMIN'), contract.company) %}

{% block content_title%}
    {{ contract.name }}
{% endblock %}
{% block content_action %}
    {% if isCompanyAdmin %}
        <a href="{{ path('app_company_acquisition_contract_update', {'company': contract.company.id, 'id': contract.id}) }}" class="btn btn-sm btn-warning">{% trans from 'misc' %}Update{% endtrans %}</a>
    {% endif %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xxl-8">
            <div class="card mb-3">
                <ul class="nav nav-tabs nav-tabs-alt align-items-center" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#acquisition-contract-works-tab" role="tab" aria-controls="ecom-product-reviews" aria-selected="true">
                            {% trans from 'work' %}Works{% endtrans %}
                        </button>
                    </li>
                </ul>
                <div class="card-body tab-content">
                    <div class="tab-pane pull-x active show" id="company-acquisition-contracts-tab" role="tabpanel" tabindex="0">
                        <div class="card">
                            <div class="card-header text-end">
                                <a href="{{ path('app_acquisition_contract_work_add', {'contract': contract.id}) }}" class="btn btn-sm btn-success">{% trans from 'work' %}Add work{% endtrans %}</a>
                            </div>
                            <div class="card-body">
                                {% include 'work/_embedded/_list.html.twig' with {
                                    works: contract.works,
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4">
            {% include 'acquisition_contract/_embedded/_information.html.twig' with {
                contract: contract,
            } %}
        </div>
    </div>
{% endblock %}
