{% extends 'shared/layout/base.html.twig' %}

{% block body %}
<div class="card mb-4">
    <h1 class="card-header text-center h3 mb-3 font-weight-normal">{{ title|trans }}</h1>
    <div class="card-body">

    {{ form_start(form) }}
    {{ form_rest(form) }}

    <div class="alert alert-danger">
        {% trans from 'misc' %}
            Are you sure you want to remove this item? This action cannot be undone.
        {% endtrans %}
    </div>

    <button class="btn btn-lg btn-danger" type="submit">
        Remove
    </button>
    {{ form_end(form) }}
{% endblock %}
