{% extends 'shared/layout/layout_base.html.twig' %}

{% block content_title %}
    {{ title|trans }}
{% endblock %}
{% block content %}
    {% component card %}
        {% block body_content %}
            {{ form_start(form) }}
            {{ form_rest(form) }}

            <div class="alert alert-danger">
                {% trans from 'misc' %}
                    Are you sure you want to remove this item? This action cannot be undone.
                {% endtrans %}
            </div>

            <button class="btn btn-lg btn-danger" type="submit">
                {% trans from 'misc' %}Remove{% endtrans %}
            </button>
            {{ form_end(form) }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
