<div{{ attributes.defaults({class: 'card'}) }}>
    {% if block('header_content') is not empty %}
        <div class="card-header">
            {% block header_content %}{% endblock %}
        </div>
    {% endif %}
    <div class="card-body">
        {% block body_content %}{% endblock %}
    </div>
    {% if block('footer_content') is not empty %}
        <div class="card-footer">
            {% block footer_content %}{% endblock %}
        </div>
     {% endif %}
</div>